<div class="preloader">
    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
  
        <div class="indicator"> 
            <svg width="16px" height="12px">
                <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
            </svg>
        </div>
    </div>
  </div>
  
<header class="header" >
	<!-- Topbar -->
	<div class="topbar">
	<div class="container">
	<div class="row">
	  <div class="col-lg-6 col-md-5 col-12">
		<!-- Contact -->
		<ul class="top-link">
		  <li><a href="/aboutUs" style="color: #1A76D1;">À propos de nous</a></li>
		  <li><a  href="/p_medecin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Médecin </u></a></li>
		  <li><a  href="/p_patient">&nbsp;&nbsp;&nbsp;<u>Patient </u></a></li>
		  <li><a  href="/secretaire">&nbsp;&nbsp;&nbsp;<u>Sécretaire </u></a></li>
		 </ul>
		<!-- End Contact -->
	  </div>
	  <div class="col-lg-6 col-md-7 col-12">
		<!-- Top Contact -->
		<ul class="top-contact">
		  <li><i class="fa fa-phone"></i>+216 73 123 456</li>
		  <li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">clinique.nar&#64;gmail.com</a></li>
		  <li><a  href="/admin"><img src="/assets/img/parametres.png" width="30px" height="30px" ></a></li>
		<!-- <li style="margin-right: -100px;margin-top: -25px;"><img src="/assets/img/adminHome.jpg" routerLink="/admin" width="100px" height="100px"></li> -->
  
		</ul>
		<!-- End Top Contact -->
	  </div>
	</div>
	</div>
	</div>
	<!-- End Topbar -->
	
	<!-- Header Inner -->
	<div class="header-inner">
	<div class="container">
	<div class="inner">
	  <div class="row">
		<div class="col-lg-3 col-md-3 col-12">
		  <!-- Start Logo -->
		  <div class="logo" width="400px">
			<a href="index.html">
			  <img src="/assets/img/logologo.png" >
			  <img src="/assets/img/test.png" alt="#">
		   </a>
		  </div>
		  <!-- End Logo -->
		  <!-- Mobile Nav -->
		  <div class="mobile-nav"></div>
		  <!-- End Mobile Nav -->
		</div>
		<div class="col-lg-7 col-md-9 col-12">
		  <!-- Main Menu -->
		  <div class="main-menu">
			<nav class="navigation">
			  <ul class="nav menu">
				<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
				<li ><a href="index.html">Accueil</a></li>
				<li><a href="/medecin">Médecins </a></li>
				<li><a href="/service">Services </a></li>
				<li><a  href="/contact"> Contactez-nous</a></li>
			  </ul>
			</nav>
		  </div>
		  <!--/ End Main Menu -->
		</div>
		<div class="col-lg-2 col-12">
		  <div class="get-quote">
			<a href="/rendevous" class="btn">Prendre rendez-vous</a>
		  </div>
		</div>
	  </div>
	</div>
	</div>
	</div>
	<!--/ End Header Inner -->
	</header>
	
	<div class="breadcrumbs overlay">
	<div class="container">
	<div class="bread-inner">
	<div class="row">
	<div class="col-12">
	<h2>À propos de nous</h2>
	<ul class="bread-list">
	<li><a href="index.html">Accueil</a></li>
	<li><i class="icofont-simple-right"></i></li>
	<li class="active">À propos de nous</li>
	</ul>
	</div>
	</div>
	</div>
	</div>
	</div>
	
	
	<section class="about-area section">
	<div class="container-fluid p-0">
	<div class="row m-0">
	<div class="col-lg-6 col-md-12 p-0">
	<div class="about-image">
	<img src="assets/img/about-img1.jpg" alt="image">
	</div>
	</div>
	<div class="col-lg-6 col-md-12 p-0">
	<div class="about-content">
	<span>À propos de nous</span>
	<h2>Petite histoire sur la clinique NAR depuis 2000</h2>
	<p>Découvrez l'évolution de la clinique NAR depuis sa fondation en l'an 2000, à travers une brève rétrospective de notre histoire et des étapes marquantes de notre parcours.</p>
	<ul>
	<li><i class="icofont-tick-mark"></i> Compétences scientifiques pour obtenir un meilleur résultat</li>
	<li><i class="icofont-tick-mark"></i> Compétences en communication pour entrer en contact</li>
	<li><i class="icofont-tick-mark"></i> Une opportunité d'aperçu de carrière disponible</li>
	<li><i class="icofont-tick-mark"></i> Un bon environnement de travail</li>
	<li><i class="icofont-tick-mark"></i> Compétences scientifiques pour obtenir un meilleur résultat</li>
	<li><i class="icofont-tick-mark"></i> Compétences en communication pour entrer en contact</li>
	</ul>
	</div>
	</div>
	</div>
	</div>
	</section>
	
	
	<section class="our-vision-area ptb-100 pt-0">
	<div class="container">
	<div class="row">
	<div class="col-lg-4 col-md-6 col-12">
	<div class="single-vision-box">
	<div class="icon">
	<i class="icofont-tick-mark"></i>
	</div>
	<h3>Notre mission</h3>
	<p>Notre mission est de fournir des soins médicaux de qualité, accessibles et personnalisés à nos patients, en mettant l'accent sur leur bien-être et leur santé globale.<br><br></p>
	</div>
	</div>
	<div class="col-lg-4 col-md-6 col-12">
	<div class="single-vision-box">
	<div class="icon">
	<i class="icofont-tick-mark"></i>
	</div>
	<h3>Notre planification</h3>
	<p>Notre planification stratégique vise à garantir une gestion efficace et transparente de la clinique, en mettant l'accent sur l'amélioration continue des services, l'optimisation des ressources et la satisfaction des patients.</p>
	</div>
	</div>
	<div class="col-lg-4 col-md-6 col-12">
	<div class="single-vision-box">
	<div class="icon">
	<i class="icofont-tick-mark"></i>
	</div>
	<h3>Notre vision</h3>
	<p>Notre vision est de devenir un leader reconnu dans le domaine des soins de santé, en offrant des services innovants, accessibles et axés sur le patient, tout en contribuant au bien-être de la communauté que nous servons.</p>
	</div>
	</div>
	</div>
	</div>
	</section>
	
	
	<section class="our-mission-area ptb-100 pt-0">
	<div class="container-fluid p-0">
	<div class="row m-0">
	<div class="col-lg-6 col-md-12 p-0">
	<div class="our-mission-content">
	<span class="sub-title">Notre mission &amp; Vision</span>
	<h2>Meilleure information, meilleure santé</h2>
	<p>À la clinique NAR, nous nous engageons à offrir des soins médicaux de haute qualité, centrés sur le patient et accessibles à tous.</p>
	<ul>
	<li>
	<div class="icon">
	<i class="icofont-doctor"></i>
	</div>
	<span>Personnel professionnel</span>
	Notre équipe est composée de professionnels hautement qualifiés et dévoués, engagés à fournir des soins de santé de qualité et à offrir un soutien exceptionnel à nos patients tout au long de leur parcours de soins.
	<li>
	<div class="icon">
	<i class="icofont-kid"></i>
	</div>
	<span>Soins Du Nouveau-Né</span>
	Nos services de soins du nouveau-né sont conçus pour offrir une attention spécialisée et compatissante aux nourrissons, en veillant à leur bien-être et à leur développement dès les premiers instants de leur vie.
	</li>
	<li>
	<div class="icon">
	<i class="icofont-laboratory"></i>
	</div>
	<span>Tests de laboratoire suffisants</span>
	Nous proposons une gamme complète de tests de laboratoire pour répondre à tous vos besoins diagnostiques, avec une équipe qualifiée et des équipements de pointe garantissant des résultats précis et fiables pour votre santé et votre tranquillité d'esprit.
	</li>
	<li>
	<div class="icon">
	<i class="icofont-tooth"></i>
	</div>
	<span>Extraction des dents</span>
	Notre équipe de professionnels dentaires qualifiés offre des services d'extraction dentaire sûrs et efficaces, visant à soulager la douleur et à promouvoir la santé bucco-dentaire optimale de nos patients.
	</li>
	</ul>
	</div>
	</div>
	<div class="col-lg-6 col-md-12 p-0">
	<div class="our-mission-image">
	<img src="assets/img/mission-img1.jpg" alt="image">
	</div>
	</div>
	</div>
	</div>
	</section>
	
	
	<!-- Footer Area -->
	<footer id="footer" class="footer ">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>À propos de nous</h2>
							<p>Notre clinique NAR s'engage à fournir des soins de santé de qualité supérieure, axés sur le bien-être et le confort de nos patients. Avec une équipe de professionnels dévoués et des installations modernes, nous nous efforçons de garantir une expérience de soins exceptionnelle à chaque visite.</p>
							<!-- Social 
							<ul class="social">
								<li><a href="#"><i class="icofont-facebook"></i></a></li>
								<li><a href="#"><i class="icofont-google-plus"></i></a></li>
								<li><a href="#"><i class="icofont-twitter"></i></a></li>
								<li><a href="#"><i class="icofont-vimeo"></i></a></li>
								<li><a href="#"><i class="icofont-pinterest"></i></a></li>
							</ul>
							-->
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2>Autres Liens</h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="index.html"><i class="fa fa-caret-right" aria-hidden="true"></i>Accueil</a></li>
										<li><a href="/aboutUs"><i class="fa fa-caret-right" aria-hidden="true"></i>À propos de nous</a></li>
										<li><a href="/service"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Nos cas</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Autres liens</a></li>	
									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Conseil</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Finance</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Témoignages</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
										<li><a  href="/contact"><i class="fa fa-caret-right" aria-hidden="true"></i>Contactez-nous</a></li>	
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Heures d'ouverture</h2>
							<p>Nous sommes dédiés à vous fournir des soins accessibles et de qualité à des horaires pratiques pour répondre à vos besoins de santé.</p>
							<ul class="time-sidual">
								<li class="day">Lundi  - vendredi <span>8.00-20.00</span></li>
								<li class="day">Samedi <span>9.00-18.30</span></li>
								<li class="day">Lundi -  Jeudi <span>9.00-15.00</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Bulletin</h2>
							<p>
								Recevez régulièrement des mises à jour, conseils de santé et annonces importantes de notre clinique en vous inscrivant à notre bulletin d'information.</p>
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="email" placeholder="Addresse Email " class="common-input" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Your email address'" required="" type="email">
								<button class="button"><i class="icofont icofont-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Top -->
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content">
							<!--p>© Copyright 2018  |  All Rights Reserved by <a href="https://www.wpthemesgrid.com" target="_blank">wpthemesgrid.com</a> </p-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Copyright -->
	</footer>
	<!--/ End Footer Area -->
